h1 {
  text-align: center;
}
.podium{
    padding-left: 0;
    text-align: center;
}

.prizes{
    display: inline-block;
}

.first {
    display: inline-block;
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
    margin-left: auto;
    }

.second {
    display: inline-block;
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    margin-right: 1px;
}

.third {
    display: inline-block;
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
}

.prize-title{
    text-align: center;
}
