body {
  padding: 20px;
  background-color: rgb(23, 26, 70);
}

.pokemon-Card {
  display: inline-flex;
  border-radius: 10px;
  margin: 10px;
  background: rgb(2,0,36);
  padding: 10px;
  width: 280px;
  color: aliceblue;
  box-shadow: 10px 5px 5px #0000002f;
  animation: mymove 1s infinite alternate-reverse;
}

@keyframes mymove {
  from {  background-color: rgb(58, 68, 126)}
  to {  background-color: rgb(59, 57, 122)}
}
img {
  display: flex;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.infos-container {
  display: inline-block;
  margin-left: 15px;
  color: rgb(228, 226, 248);
  font-weight: 130;
}

h1 {
  font-size: 60px;
  color: aliceblue;
  margin-left: 10px;
  margin-bottom: 20px;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 23px;
  color: rgb(255, 255, 255);
}
strong {
  font-weight: 400;
}